$breakpoints: (
  "sm": 30em,
  "md": 43.75,
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin gradient($dir, $clr-1, $clr-2) {
  background: linear-gradient($dir, $clr-1, $clr-2);
}

@mixin gradient-border($dir, $clr-1, $clr-2) {
  background: transparent;
  background-image: linear-gradient(45deg, #212121, #212121),
    linear-gradient($dir, $clr-1, $clr-2);
  background-clip: padding-box, border-box;
  background-origin: border-box;
  border: 2px solid transparent;
}
