$body-clr: #212121;
$text-clr: #fff;
$line-clr: #5f5f5f;
$main-clr: #fe006b;
$secondary-clr: #ff8800;
$medium-secondary-clr: #ff5500;
$dark-secondary-clr: #dc3500;
$transparent-main-clr: #fe006b50;
$focus-clr: #ff2f00;
$light-body-clr: #2e2e2e;
$hover-body-clr: #252525;
$dark-body-clr: #1f1f1f;
