.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 3em;
  h1 {
    padding: 0.4em;
    border: 3px solid;
    border-image: linear-gradient(90deg, #fe006b, #ff8800) 1;
  }
  &__search {
    display: flex;
    gap: 1em;
    align-items: center;
    button {
      background-color: inherit;
      border: none;
    }
  }
  &__search__main {
    display: flex;
    background-color: #2f2f2f;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.25em;
    button svg {
      fill: #fff;
      transform: scale(1.4);
      margin: 0.4em 0.5em;
      cursor: pointer;
    }
    input {
      background-color: inherit;
      border: none;
      color: #fff;
      &:focus {
        outline: none;
      }
    }
  }
}

.bi-filter {
  fill: #fff;
  transform: scale(2);
  margin: 0.5em 0.5em;
  cursor: pointer;
}

.courses-body {
  section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    margin-bottom: 1em;
    h2 {
      font-size: 2em;
    }
    a {
      color: #fe006b;
      font-weight: 400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  article {
    display: flex;
    margin-bottom: 3em;
    align-items: center;
    justify-content: space-around;
    padding: 0 2em;
  }
}

.course-card {
  background-color: #2f2f2f;
  border-radius: 7px;
  width: 31%;
  padding: 1.5em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
  height: max-content;
  ul {
    padding: 0.5em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    li {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }
  img {
    width: 40%;
  }
  em {
    padding: 0 0.5em;
    border: 1px solid #fff;
    border-radius: 15px;
  }
  b {
    color: #fe006b;
  }
  &__header {
    margin-top: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 2em;
    h3 {
      font-size: 1.4em;
      font-weight: 600;
      width: 90%;
      height: 1.75em;
    }
    svg {
      transform: scale(1.25);
      cursor: pointer;
    }
  }
  &__compare {
    border-top: 2px solid #484848;
    margin: 1em 1em 0 1em;
    padding: 2em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 1.25em;
      color: #fff;
      padding: 0.25em 0.5em;
      border: 1px solid;
      border-image: linear-gradient(90deg, #fe006b, #ff8800) 1;
    }
  }
  &__pricing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1em;
    margin-bottom: 0;
    a {
      align-self: center;
      font-size: 1.25em;
      background: linear-gradient(90deg, #fe006b, #ff8800);
      color: #fff;
      padding: 0.5em 2em 0.25em 2em;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-weight: 600;
    }
    strong {
      font-size: 2em;
      -webkit-text-fill-color: #fff;
      font-weight: 600;
      &::before {
        content: "U$1500";
        text-decoration: line-through;
        font-size: 0.4em;
        display: block;
      }
    }
  }
}

.bi-arrow-bar-right {
  transform: scale(2);
  cursor: pointer;
}

.bi-patch-check {
  fill: #fe006b;
}
