@use "../utils" as u;

.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 3em;
  @include u.breakpoint(sm) {
    flex-direction: column;
    padding: 4em 0;
    gap: 1em;
  }
  h1 {
    padding: 0.4em;
    border: 3px solid;
    border-image: linear-gradient(90deg, u.$main-clr, u.$secondary-clr) 1;
    @include u.breakpoint(sm) {
      width: 100%;
      border-right: none;
      border-left: none;
      text-align: center;
    }
  }
  &__search {
    display: flex;
    gap: 1em;
    align-items: center;
  }
  button {
    background-color: inherit;
    border: none;
  }

  &__search__main {
    display: flex;
    background-color: u.$light-body-clr;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.25em;
  }
  button svg {
    fill: u.$text-clr;
    transform: scale(1.4);
    margin: 0.4em 0.5em;
    cursor: pointer;
  }
  input {
    background-color: inherit;
    border: none;
    color: u.$text-clr;
    &:focus {
      outline: none;
    }
  }
}

.bi-filter {
  fill: u.$text-clr;
  transform: scale(2);
  margin: 0.5em 0.5em;
  cursor: pointer;
}

.courses-body {
  section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 3em;
    margin-bottom: 1em;
    @include u.breakpoint(sm) {
      padding: 1em 1.5em;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2em;
      @include u.breakpoint(sm) {
        font-size: 1.75em;
        font-weight: 600;
      }
    }
    a {
      color: u.$main-clr;
      @include u.breakpoint(sm) {
        display: none;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  article {
    display: flex;
    margin-bottom: 3em;
    align-items: center;
    justify-content: space-around;
    padding: 0 2em;
    @include u.breakpoint(sm) {
      overflow: auto;
      withe-space: nowrap;
      width: 100%;
      padding: 0 1em 0 1em;
      margin-bottom: 1em;
      .bi-arrow-bar-right {
        display: none;
      }
      .course-card {
        &-2,
        &-3 {
          display: none;
        }
      }
    }
  }
}

.course-card {
  border-radius: 7px;
  width: 31%;
  padding: 1.5em 1.5em 0 1.5em;
  display: flex;
  flex-direction: column;
  height: max-content;
  @include u.gradient-border(45deg, u.$main-clr, u.$secondary-clr);
  @include u.breakpoint(sm) {
    width: 25em;
  }
  ul {
    padding: 0.5em 2em 1em 2em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    @include u.breakpoint(sm) {
      padding: 1em 1em 0 1em;
    }
    li {
      display: flex;
      align-items: center;
      gap: 0.5em;
      @include u.breakpoint(sm) {
        font-size: 1.25em;
      }
    }
  }
  img {
    width: 40%;
  }
  em {
    padding: 0 0.5em;
    border: 1px solid #fff;
    border-radius: 15px;
  }
  b {
    color: #fe006b;
  }
  &__header {
    margin-top: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 2em;
    h3 {
      font-size: 1.4em;
      font-weight: 600;
      width: 90%;
      height: 1.75em;
      @include u.breakpoint(sm) {
        font-size: 1.5em;
      }
    }
    svg {
      transform: scale(1.25);
      cursor: pointer;
      @include u.breakpoint(sm) {
        scale: 1.5;
        margin: 0.25em 0.25em 0 0;
      }
    }
  }
  &__compare {
    border-top: 2px solid #484848;
    margin: 1em 1em 0 1em;
    padding: 2em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-size: 1.25em;
      color: #fff;
      padding: 0.25em 0.5em;
      border: 1px solid;
      border-image: linear-gradient(90deg, #fe006b, #ff8800) 1;
      text-decoration: none;
      @include u.breakpoint(sm) {
        font-size: 1.5;
        font-weight: 600;
      }
    }
  }
  &__pricing {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1em;
    margin-bottom: 0;
    a {
      align-self: center;
      font-size: 1.25em;
      background: linear-gradient(90deg, #fe006b, #ff8800);
      color: #fff;
      padding: 0.5em 2em 0.25em 2em;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      font-weight: 600;
      text-decoration: none;
      @include u.breakpoint(sm) {
        font-size: 1.5em;
        padding: 0.35em 1.5em 0.25em 1.5em;
      }
    }
    strong {
      font-size: 2em;
      -webkit-text-fill-color: #fff;
      font-weight: 600;
      @include u.breakpoint(sm) {
        font-size: 2.25em;
      }
      &::before {
        content: "U$1500";
        text-decoration: line-through;
        font-size: 0.4em;
        display: block;
        @include u.breakpoint(sm) {
          font-size: 0.5em;
        }
      }
    }
  }
}

.all-courses {
  display: none;
  @include u.breakpoint(sm) {
    display: block;
    color: u.$body-clr;
    font-weight: 600;
    text-align: center;
    font-size: 1.25em;
    margin: 1.5em auto 2.5em auto;
    width: 90%;
    background-color: u.$main-clr;
    text-decoration: none;
    text-transform: uppercase;
    @include u.gradient(235deg, u.$main-clr, u.$secondary-clr);
  }
}

.bi-arrow-bar-right {
  transform: scale(2);
  cursor: pointer;
}

.bi-patch-check {
  fill: #fe006b;
  @include u.breakpoint(sm) {
    scale: 1.25;
  }
}
