/* sign in styles */
.sign-body {
  display: flex;
  height: 100vh;
}

.sign-main {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 2.5em;
    line-height: 100%;
  }
  h2 {
    font-size: 1em;
    margin-bottom: 2em;
  }
  p {
    margin-top: 0.5em;
  }
  section a {
    color: #fe006b;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  header button {
    background-color: #212121;
    padding: 0.5em 0.5em;
    width: 15em;
    border: 2px solid #5f5f5f;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
      background-color: #252525;
    }
    img {
      width: 15%;
    }
  }
  input {
    background-color: #2f2f2f;
    width: 100%;
    padding: 0.75em;
    margin-top: 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: #fff;
    &:focus {
      outline: 1px solid #ff2f00;
    }
  }
  footer {
    position: absolute;
    font-size: 0.8em;
    bottom: 1em;
    margin: auto;
    text-align: center;
    ul {
      padding: 0;
    }
    a {
      color: #fff;
    }
  }
}

.sign-logo-main {
  display: none;
}

.bi-arrow-left {
  transform: scale(2);
  color: #5f5f5f;
}

.line-division {
  margin: 0.5em 0 1em 0;
  p {
    position: relative;
    &::before {
      content: "";
      display: block;
      border-left: 1px solid black;
      height: 2px !important;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 45% !important;
      background: #5f5f5f;
      display: inline;
    }
    &::after {
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0px;
      width: 45%;
      transform: translateY(-50%);
      background-color: #5f5f5f;
    }
  }
}

.sign-button {
  background: linear-gradient(225deg, #fe006b, #ff5500);
  padding: 0.5em 10%;
  width: 100%;
  border: none;
  font-weight: 600;
  font-size: 1.2em;
  color: #212121;
  border-radius: 5px;
  margin-top: 1.5em;
  cursor: pointer;
  &:hover {
    background: linear-gradient(45deg, #fe006b, #ff5500);
  }
}

.sign-options {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.sign-right {
  width: 50%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 1em;
  h2 {
    font-size: 2em;
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: space-around;
    padding: 0 3.5em;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-bottom: 1.5em;
    font-size: 0.8em;
    ul {
      display: flex;
      gap: 4em;
      align-items: center;
    }
    svg {
      transform: scale(1.2);
    }
  }
}

.journey {
  margin: 0 auto;
  width: 90%;
}

.annoying-footer {
  transform: translateX(50%);
}

.sign-logo {
  width: 50%;
  margin: 1em 3em 0em auto;
}
/* sign in and sign up styles end */
