@use "../utils" as u;

nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  background-color: #212121;
  padding: 0.5em 2em;
  border-bottom: 1px solid #5f5f5f;
  text-decoration: none;
  position: sticky;
  z-index: 10;
  @include u.breakpoint(sm) {
    width: 100%;
    padding: 1em 1em;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 1.5em;
    li a {
      color: #fff;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
      @include u.breakpoint(sm) {
        text-decoration: none;
      }
    }
  }
}

.logo {
  height: 4em;
  p {
    font-size: 2em;
  }
}

.about-nav {
  background: linear-gradient(180deg, #fff, #fe006b);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.benefits-nav {
  background: linear-gradient(180deg, #fff, #ff8800, #fe006b);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.courses-nav {
  background: linear-gradient(180deg, #fff, #dc3500);
  -webkit-text-fill-color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
}

.sign-up {
  padding: 0.4em;
  border: 2px solid #fe006b;
  border-radius: 20px;
  &:hover {
    background-color: #fe006b;
    text-decoration: none;
    color: #212121;
  }
  @include u.breakpoint(sm) {
    text-decoration: none;
    border-radius: 10px;
  }
}

.sign-in {
  &:hover {
    color: #fe006b;
    text-decoration: none;
  }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 1px solid #fff;
}

@include u.breakpoint(sm) {
  .nav-ul {
    flex-direction: column;
    padding: 0;
    svg {
      scale: 1.25;
    }
    li {
      font-size: 1.25em;
    }
  }

  .navbar {
    &-collapse {
      margin: 1.5em 0 0.5em 0;
    }
    &-expand-lg {
      padding: 0.5em 1em;
      position: sticky;
      margin-top: 0;
    }
  }
  .bi-heart::before {
    content: "Liked courses";
    color: u.$text-clr;
    position: relative;
  }
}
